/* Google Desktop and Mobile View Website */

/* Project 2 */

/* Google Login System. */
/* Created By WinandaDev on 05 November 2025. */
/* For practice developing a website in the Front-End field. */
/* ===================================================== */

/* Reset CSS dan Atur Tampilan Dasar */
html, body {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    background: #f0f4f9;
    overflow: hidden;
}

/* Konten Tampilan Desktop */
.Border1 {
    width: 970px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    height: 410px;
    border-radius: 20px;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.18), 0 1.5px 6px 0 rgba(0, 0, 0, 0.15);
}

.Google-Desktop img {
    margin: 30px;
    width: 55px;
    height: 55px;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge lama */
    user-select: none;         /* Standar modern, termasuk Chrome */
    pointer-events: none;
}

.Login {
    font-size: 2.5vw;
    font-family: "Poppins";
    color: #000000;
    margin-left: 37px;
    margin-top: -19px;
}

.Akun {
    font-size: 15px;
    font-family: "Poppins";
    color: #000000;
    margin-left: 37px;
    margin-top: -15px;
}

.Formulir {
    margin-top: -110px;
    margin-left: 510px;
    margin-right: auto;
    margin-bottom: auto;
}

.Formulir form input[type="email"] {
    width: 420px;
    height: 58px;
    font-family: "Poppins";
    box-sizing: border-box;
    border: 1px solid #72706e;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
}

.Formulir form input[type="email"]:focus {
    border-color: #1976d2;
    border: 2px solid #1976d2;
    outline: none;
}

.Formulir form .Lupaemail {
    display: inline-block;
    margin-left: -3px;
    padding: 3px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins";
    color: #1976d2;
    text-decoration: none;
}

.Lupaemail:hover {
    background-color: rgba(114, 112, 110, 0.1);
    border-radius: 10px;
}

.Tamu {
    margin-top: 43px;
    font-size: 12.8px;
    font-family: "Poppins";
    color: #72706e;
}

.Pelajari {
    color: #1976d2;
    margin-left: 3px;
    text-decoration: none;
}

.Pelajari:hover {
    text-decoration: underline;
}

.Buatakun {
    color: #1976d2;
    font-size: 15px;
    font-family: "Poppins";
    margin-top: 40px;
    margin-left: 190px;
    cursor: pointer;
}

.Formulir form input[type="submit"] {
    margin-left: 290px;
    cursor: pointer;
    display: flex;
    margin-top: -45px;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 500;
    width: 140px;
    height: 40px;
    background-color: #1976d2;
    border: 1px solid #1976d2;
    border-radius: 80px;
}

.Formulir form input[type="submit"]:hover {
    background-color: #1565c0;
    border: 1px solid #1565c0;
}

.Footer1 {
    margin-left: 730px;
    margin-top: 70px;
    font-size: 12px;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge lama */
    user-select: none;         /* Standar modern, termasuk Chrome */
}

.Bantuan1 {
    padding: 10px;
    color: #72706e;
    text-decoration: none;
    font-family: "Poppins";
}

.Bantuan1:hover {
    background-color: rgba(114, 112, 110, 0.1);
    border-radius: 10px;
}

.Privasi1 {
    padding: 10px;
    color: #72706e;
    text-decoration: none;
    font-family: "Poppins";
}

.Privasi1:hover {
    background-color: rgba(114, 112, 110, 0.1);
    border-radius: 10px;
}

.Persyaratan1 {
    padding: 10px;
    color: #72706e;
    text-decoration: none;
    font-family: "Poppins";
}

.Persyaratan1:hover {
    background-color: rgba(114, 112, 110, 0.1);
    border-radius: 10px;
}

.language-selector1 {
    position: fixed;
    margin-top: -25px;
    margin-left: 20px;
    border-radius: 8px;
    font-family: "Poppins";
}

.language-selector1 select {
    padding: 10px;
    border: none;
    background: transparent;
    font-size: 13px;
    color: #72706e;
    outline: none;
    cursor: pointer;
    padding-right: 100px;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge lama */
    user-select: none;         /* Standar modern, termasuk Chrome */
}

.language-selector1 select:hover {
    background-color: rgba(114, 112, 110, 0.1);
    border-radius: 8px;
}

/* ============================================================= */

/* Pesan Error */
.error-msg {
    color: #d93025;
    font-size: 12px;
    font-family: "Poppins";
    margin-top: 3px;
    display: block;
    height: 13px;
}

/* ============================================================= */

/* Konten Tampilan Mobile */
.Border2 {
    border: 1px solid #ffffff;
    width: 415px;
    height: 430px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: calc(50vh - 230px);
    margin-bottom: auto;
    margin-left: calc(50vw - 207.5px + 10px - 10px);
    margin-right: calc(50vw - 207.5px - 10px + 10px);
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.18), 0 1.5px 6px 0 rgba(0,0,0,0.15);
}

.Google-Mobile {
    margin-top: 40px;
    margin-left: 170px;
}

.Google-Mobile span {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 20px;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge lama */
    user-select: none;         /* Standar modern, termasuk Chrome */
}

.Login2 {
    font-family: "Poppins";
    font-weight: 500;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 12px;
}

.Formulir1 {
    font-family: "Poppins";
    font-weight: 500;
    margin-left: -35px;
    font-size: 14px;
    margin-top: -8px;
}

.Formulir2 {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: auto;
    margin-right: auto
}

.Formulir2 form input[type="email"] {
    width: 350px;
    height: 40px;
    box-sizing: border-box;
    font-family: "Poppins";
    border: 1px solid #72706e;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 13px;
}

.Formulir2 form input[type="email"]:focus {
    border-color: #1976d2;
    border: 2px solid #1976d2;
    outline: none;
}

.Lupaemail1 {
    display: inline-block;
    margin-top: -8px;
    margin-left: -3px;
    padding: 3px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins";
    color: #1976d2;
    text-decoration: none;
}

.Lupaemail1:hover {
    background-color: rgba(114, 112, 110, 0.1);
    border-radius: 10px;
}

.Tamu1 {
    margin-top: 43px;
    font-size: 11.8px;
    font-family: "Poppins";
    color: #72706e;
}

.Pelajari1 {
    color: #1976d2;
    margin-left: 3px;
    text-decoration: none;
}

.Pelajari1:hover {
    text-decoration: underline;
}

.Buatakun1 {
    color: #1976d2;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 14px;
    margin-top: 40px;
    cursor: pointer;
}

.Formulir2 form input[type="submit"] {
    display: flex;
    cursor: pointer;
    margin-left: 245px;
    color: #ffffff;
    margin-top: -38px;
    font-weight: 500;
    font-family: "Poppins";
    font-size: 13px;
    padding: 3px;
    width: 107px;
    height: 30px;
    border: 1px solid #1976d2;
    background-color: #1976d2;
    border-radius: 3px;
}

.Formulir2 form input[type="submit"]:hover {
    background-color: #1565c0;
    border: 1px solid #1565c0;
}

.language-selector2 {
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 8px;
    font-family: "Poppins";
}

.language-selector2 select {
    padding: 8px;
    border: none;
    background: transparent;
    font-size: 13px;
    color: #72706e;
    outline: none;
    cursor: pointer;
    padding-right: 10px;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge lama */
    user-select: none;         /* Standar modern, termasuk Chrome */
}

.language-selector2 select:hover {
    background-color: rgba(114, 112, 110, 0.1);
    border-radius: 8px;
}

.Footer2 {
    display: flex;
    margin-left: 183px;
    margin-top: -33px;
    font-size: 12px;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge lama */
    user-select: none;         /* Standar modern, termasuk Chrome */
}

.Bantuan2 {
    padding: 8px;
    color: #72706e;
    text-decoration: none;
    font-family: "Poppins";
}

.Bantuan2:hover {
    background-color: rgba(114, 112, 110, 0.1);
    border-radius: 10px;
}

.Privasi2 {
    padding: 8px;
    color: #72706e;
    text-decoration: none;
    font-family: "Poppins";
}

.Privasi2:hover {
    background-color: rgba(114, 112, 110, 0.1);
    border-radius: 10px;
}

.Persyaratan2 {
    padding: 8px;
    color: #72706e;
    text-decoration: none;
    font-family: "Poppins";
}

.Persyaratan2:hover {
    background-color: rgba(114, 112, 110, 0.1);
    border-radius: 10px;
}

/* Media Queries (Responsif Web Design) */

/* Laptop / Desktop kecil */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .Login {
        position: relative;
        font-size: 33px;
    }
    .Formulir {
        position: relative;
        margin-top: -115px;
    }
}

/* Desktop besar / Monitor lebar */
@media screen and (min-width: 1201px) {
    .Login {
        position: relative;
        font-size: 33px;
    }
    .Formulir {
        position: relative;
        margin-top: -115px;
    }
}